<!-- <div *ngIf="posts.state | async as state">
  <p *ngIf="state.loading">Loading....</p>
  <p *ngIf="state.error">Loading....</p>
  <p *ngIf="state.res">
    {{ state.res.title | json }}
  </p>
</div> -->

<h1>Async</h1>

<ng-template *ngIf="post$ | async as state">
  <p *ngIf='state.loading'>Loading....</p>
  <p *ngIf='state.error'>Loading....</p>
  <p *ngIf='state.res'>
    {{ state.res | json }}
  </p>
</ng-template>

<!--<div *ngIf='post2$ | async as state'>-->
<!--  {{ state.body }}-->
<!--</div>-->


<button (click)='refresh()'>Refresh</button>
